@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('./assets/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('./assets/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('./assets/fonts/PlusJakartaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@layer base {
    body {
        @apply font-jakarta;
    }
}

.font-jakarta {
    font-family: 'PlusJakartaSans', sans-serif;
}

.angled-border {
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px));
}
  
.MainSubDual {
    max-width: 100%; /* Makes the SVG responsive */
    height: auto; /* Maintains the aspect ratio */
  }
  